---

---

<section id="join">
  <div class="container">
    <h2>Join Us</h2>
    <p>
      Be part of the revolution in public transportation payments. Sign up to
      get started with <span class="logo-text">tapin</span>&reg; and enjoy a
      seamless and secure travel experience.
    </p>
    <a href="#contact" class="cta-button">Contact Us</a>
  </div>
</section>

<style>
  .logo-text {
    font-family: "MuseoModerno", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }

  #join {
    padding: 60px 0;
    text-align: center;
  }

  #join h2 {
    font-size: 2em;
    color: #d9d9d9;
    margin-bottom: 20px;
  }

  #join p {
    font-size: 1.2em;
    color: #d9d9d9;
    margin-bottom: 20px;
  }

  .cta-button {
    background-color: #d9d9d9;
    color: #1e1e1e;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
  }
</style>
